{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Page Not Found</h1>
        <p>What you were looking for is just not there, go to the <a href="{{ url_for('home') }}">home page</a>.</p>
    </div>
</div>
{% endblock %}
